h1 {
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

#resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

